
.container {
    background-color: #f5f5f5;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(10, 80, 221, 0.1);
}
body {
    background-color: #5a7f8f;
    font-family: Arial, sans-serif;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
.form-rowfull {
    display: grid;
    grid-template-columns: 1fr;

}
label {
    display: block;
    color: #00a895;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 14px;
}
input[type="radio"],
    input[type="checkbox"] {
    margin-right: 5px;
}
input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
.checkbox-group, .radio-group {
    display: flex;
    gap: 20px;
    margin-top: 8px;
}
textarea {
    resize: vertical;
    min-height: 80px;
}
button{
    background-color: #00a895;
    display: block;
    padding: 12px;
    margin-left: auto;
    width: 100px;
    border-radius: 30px;
}